<% if (alerts && alerts.length){ %>
<% for (let alert of alerts) { %>
<div class="alert <%= alert.type === 'success' ? 'alert-success' : 'alert-danger' %> alert-dismissible fade show"
    role="alert">
    <%= alert.text %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<% } %>
<% } %>