<div class="row g-2 mb-1 ps-1">
    <div class="col-8 col-sm-auto">
        <form action="/campgrounds" class="d-flex">
            <input class="form-control form-control-sm me-2" name="search" value="<%= search %>" id="searchQuery">
            <button id="searchButton" class="btn btn-sm btn-success">
                Search
            </button>
        </form>
    </div>
    <% if (search) { %>
    <div class="col-auto">
        <form action="/campgrounds">
            <button id="clearButton" class="btn btn-sm btn-danger">
                Clear
            </button>
        </form>
    </div>
    <% } %>
</div>