version: 2
updates:
    - package-ecosystem: 'npm'
      directory: '/'
      schedule:
          interval: 'monthly'
          day: 'monday'
      ignore:
          - dependency-name: '*'
            update-types: ['version-update:semver-major']
      groups:
          dependencies:
              patterns:
                  - '*'
      assignees:
          - 'aditya-arcot'

    - package-ecosystem: 'docker'
      directory: '/'
      schedule:
          interval: 'monthly'
          day: 'monday'
      groups:
          docker:
              patterns:
                  - '*'
      assignees:
          - 'aditya-arcot'

    - package-ecosystem: 'github-actions'
      directory: '/'
      schedule:
          interval: 'monthly'
          day: 'monday'
      groups:
          github-actions:
              patterns:
                  - '*'
      assignees:
          - 'aditya-arcot'
