name: yelpcamp

services:
    app:
        image: ${IMAGE?}
        container_name: yelpcamp
        restart: always
        networks:
            - traefik-public
        labels:
            - traefik.enable=true
            - traefik.prod=true
            - traefik.http.routers.yelpcamp.rule=Host(`yelpcamp.aarcot.com`)
            - traefik.http.routers.yelpcamp.entrypoints=websecure
            # explicit port mapping required
            - traefik.http.services.yelpcamp.loadbalancer.server.port=3000

networks:
    traefik-public:
        external: true
