name: yelpcamp

services:
    app:
        image: ${IMAGE}
        container_name: yelpcamp
        restart: always
        networks:
            - traefik-public
        labels:
            - traefik.enable=true
            - traefik.http.routers.yelpcamp.rule=Host(`yelpcamp.aarcot.com`)
            - traefik.http.routers.yelpcamp.entrypoints=websecure
            - traefik.http.routers.yelpcamp.tls=true
            - traefik.http.routers.yelpcamp.tls.certresolver=le

networks:
    traefik-public:
        external: true
