<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col col-sm-8 offset-sm-2">
        <form action="/campgrounds" method="POST" novalidate class="validation-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter a title.
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter a location.
                </div>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-prefix">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00"
                        aria-describedby="price-prefix" name="campground[price]" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter a valid price.
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" name="campground[description]" required></textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
                <div class="invalid-feedback">
                    Please enter a description.
                </div>
            </div>
            <div class="mb-3">
                <label for="images" class="form-label">Images</label>
                <input class="form-control" type="file" id="images" name="images" multiple>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">
                    Add
                </button>
            </div>
        </form>
        <a class="btn btn-primary mb-3" href="/campgrounds">
            All Campgrounds
        </a>
    </div>
</div>