name: Deploy Application
on:
    push:
        branches:
            - master

concurrency:
    group: deploy-${{ github.ref_name }}
    cancel-in-progress: true

permissions:
    contents: read

env:
    IMAGE_TAG: $(date +%Y-%m-%d).${{ github.run_number }}-${{ github.run_attempt }}-${{ github.run_id }}

jobs:
    deploy:
        name: Deploy
        runs-on: mbp-13
        environment: prod
        steps:
            - name: unlock keychain
              run: security unlock-keychain -p ${{ secrets.KEYCHAIN_PASSWORD }} login.keychain

            - name: checkout
              uses: actions/checkout@v6

            - name: log in to docker registry
              uses: docker/login-action@v3
              with:
                  registry: ${{ secrets.DOCKER_REGISTRY }}
                  username: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
                  password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}

            - name: create .env
              run: |
                  echo "CLOUDINARY_CLOUD_NAME=${{ secrets.CLOUDINARY_CLOUD_NAME }}" >> .env
                  echo "CLOUDINARY_KEY=${{ secrets.CLOUDINARY_KEY }}" >> .env
                  echo "CLOUDINARY_SECRET=${{ secrets.CLOUDINARY_SECRET }}" >> .env
                  echo "MAPQUEST_KEY=${{ secrets.MAPQUEST_KEY }}" >> .env
                  echo "MONGO_URL=${{ secrets.MONGO_URL }}" >> .env
                  echo "NODE_ENV=production" >> .env
                  echo "SESSIONS_SECRET=${{ secrets.SESSIONS_SECRET }}" >> .env

            - name: copy files
              run: |
                  mkdir stage
                  cp -r .env *.js Dockerfile package*.json cloudinary controllers models public routes utils views stage/

            - name: build, push docker image
              run: |
                  cd stage/
                  IMAGE=${{ secrets.DOCKER_REGISTRY }}/yelpcamp:${{ env.IMAGE_TAG }}
                  docker build -t $IMAGE .
                  docker push $IMAGE
                  echo "IMAGE=${IMAGE}" >> $GITHUB_ENV

            - name: start docker
              run: |
                  IMAGE=${{ env.IMAGE }} \
                    docker compose up -d
